/* Importación de fuente */

@font-face {
    font-family: PTSerif;
    src: url(fuentes/PTSerif-Regular.ttf);
}

*{
    font-family: PTSerif;
}

/* Estilos para la sección del logo */

.image-logo{
    text-align: center;
}

/* Estilos de menú de navegación */

.menu-navegacion{
    text-align: center;
    margin-top: 1.5rem;
}

.nav-bar-menu{
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    list-style: none;
}

.nav-bar-menu li{
    display: inline-block;
    padding: 1.5rem;
    margin: 0 6rem;
}

.nav-bar-menu_item a{
    color: #000;
    text-decoration: none;
}

.nav-bar-menu li:hover{
    background-color: #c00;
    color: #fff;
}

.nav-bar-menu_item a:hover{
    color: #fff;
}


/* Estilos del carousel */

.carousel-item img{
    width: 100%;
    height: 800px;
}

/* Parrafos especiales re-utilizados */

.parrafo-especial{
    border-left: 5px solid #c00;
    background-color: rgba(0, 0, 0, 0.05);
}

.parrafo-especial p{
    padding: 1rem;
    vertical-align: middle;
}

/* Estilos del footer */

.contenedor-contenido-footer{
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    font-size: 12px;
    text-align: right;
    margin: 1rem 0;
}

.contenedor-contenido-footer p{
    margin: 1.5rem 0.5rem;
}